<%- include('header'); %>

        <h2>Ma röövin su andmed ära</h2>


        <form action="/" method="POST">
            <div class="form-group mb-3">
                <input type="text" id="Isikukood" name="Isikukood">
                <input type="submit" value="Submit">
            </div>
  
        </form>

<%- include('footer'); %>